<%= form_with(model: @dashboard.new_link, url: 'create_link', data: { remote: false }) do |form| %>
  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>
<hr>
<br>
<br>
<br>

<div>
  <ul>
    <% if @dashboard.recent_links.any? %>
      <% @dashboard.recent_links.each do |link| %>
        <li>
          <strong>Link ID: <%= link.id %></strong><br>
          <strong>Long:</strong> <%= link_to link.url, link.url, target: '_blank' %><br>
          <strong>Short:</strong> <%= link_to link.short_url, link.relative_short_url, target: '_blank' %>
        <br>&nbsp;
        </li>
      <% end %>
    <% else %>
      <li>No links to dispaly</li>
    <% end %>
  </ul>
</div>
