<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : default_title %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="bg-gray-200 h-screen pt-2">
      <div class="container mx-auto p-4 shadow-lg bg-white">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
